# Ignore Python virtual environments
.venv/
venv/

# PyInstaller files
build/
dist/
*.spec

# Ignore environment variable files (secrets)
.env
.env.*
*.env
config.py

# Ignore Python cache files and build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore system files
.DS_Store
Thumbs.dbcd

# Ignore IDE/editor project settings
.vscode/
.idea/
